<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post" action="/register/test">
  <div>
    <input type="text" name="userId" placeholder="Id">
  </div>
  <div>
    <input type="password" name="userPw" placeholder="Password">
  </div>
  <div>
    <input type="number" name="userAge" placeholder="Age" min="1">
  </div>
  <div>
    <input type="text" name="userName" placeholder="Name">
  </div>
  <div>
    <input type="checkbox" name="localAgree">
    <input type="submit">
  </div>
</form>
</body>
</html>